/*              GENERAL                  */
body {
	background-image:url("img/skyline.jpg");
	background-size: cover;
	color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
}



.innen{
	width:90%;
	margin:auto;
}

.container{
	background-color:rgba(50,50,50,0.6);
	border-radius:20px;
		padding-right: 0px;
		padding-bottom: 0px;
		margin-bottom: 15px;
}
.innen>.container{
	width:100%;
}

.container>.col-sm-2 {

}



/*Slideshow*/

.carousel-control.left,.carousel-control.right{background-image:none;}

.carousel{
	height:150px;
}
	/*so werden Bilder in den Container gepresst*/
.carousel>.carousel-inner{
	width:100%;
	height:100%;
}

/*Navigationsleiste*/
	/*collapse bei 870px*/

@media (max-width: 870px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media screen and (max-width: 1100px) {
    .social-media-link {
        display: none !important;
    }
}

.social-media-link {
	color:black;
	font-size:14px;
}

#social-media-logo{
	height:20px;
}


/*grid system*/
.grid-container {
	display: flex;
}

.col-sm-2{
	float:right;
	border:none;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	padding-top: 10px;
	text-align: center;
	align-items: stretch;
}
.col-sm-12{
	text-align:center;
}

@media screen and (max-width: 870px) {
    .col-sm-2 {
        display: none !important;
    }
}


/*                GETRAENKEKARTE                  */

.getraenke_tabelle { width:40%;
}

#slideshow_placebear {
	width:100%;
}

/* GETRÄNKE */

.getraenke_tabelle {
	display: none;
	color: white;
	margin: auto;
	width: 50%;
	background-color: rgba(255,255,255,0.1);
	padding: 10px;
}

/* Buttons */

.button_drinks {
  display: block;
	border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(200,140,80,0.1);
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
	margin-bottom: 10px;
}

.button_drinks span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_drinks span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_drinks:hover span {
  padding-right: 25px;
}

.button_drinks:hover span:after {
  opacity: 1;
  right: 0;
}

iframe{
	width:80%;
	height:20%;
	margin-top: 5px;
	margin-bottom: 10px;
}




.foot a{
	text-decoration:none;
	color:white;
}

.foot a:hover{
	text-decoration:underline;
}
.foot{
	background-color:black;
}
/*       HSTORIE

#historie {
	width: 70%;
	margin-left: 5%;
	text-align: justify;
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
}
*/

/*       ÖFFNUNGSZEITEN

#oeffnungszeiten {
	width: 40%;
	margin-left: 5%;
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
}
*/

/*   SIDEBAR        */
