/*              GENERAL                  */
body {
	background-image:url("img/skyline.jpg");
	background-size: 100%;
	color: white;
}

.innen{
	width:90%;
	margin:auto;
}

.container{
	background-color:rgba(148,142,142,0.5)
}


/*Slideshow*/

.carousel-control.left,.carousel-control.right{background-image:none;}

.carousel{
	height:150px;
}
	/*so werden Bilder in den Container gepresst*/
.carousel>.carousel-inner{
	width:100%;
	height:100%;
}

/*Navigationsleiste*/

@media screen and (max-width: 1100px) {
    .social-media-link {
        display: none !important;
    }
}

.social-media-link {
	color:black;
	font-size:14px;
}

#social-media-logo{
	height:20px;
}


/*grid system*/
.col-sm-2{
	float:right;
	border:none;
	background-color:black;
}
.col-sm-12{
	text-align:center;
}

@media screen and (max-width: 768px) {
    .col-sm-2 {
        display: none !important;
    }
}


/*                GETRAENKEKARTE                  */

.getraenke_tabelle { width:40%;
}

#slideshow_placebear {
	width:100%;
}

/* GETRÄNKE */

.getraenke_tabelle {
	display: none;
	color: white;
	margin: auto;
	width: 50%;
	background-color: rgba(255,255,255,0.1);
	padding: 10px;
}

/* Buttons */

.button_drinks {
  display: block;
	border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(200,140,80,0.1);
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
	margin-bottom: 10px;
}

.button_drinks span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_drinks span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_drinks:hover span {
  padding-right: 25px;
}

.button_drinks:hover span:after {
  opacity: 1;
  right: 0;
}

iframe{
	width:80%;
	height:80%;
}




.foot a{
	text-decoration:none;
	color:white;
}

.foot a:hover{
	text-decoration:underline;
}
.foot{
	background-color:black;
}
/*       HSTORIE

#historie {
	width: 70%;
	margin-left: 5%;
	text-align: justify;
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
}
*/

/*       ÖFFNUNGSZEITEN

#oeffnungszeiten {
	width: 40%;
	margin-left: 5%;
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
}
*/
