/*              GENERAL                  */
body {
	background-image:url("img/skyline.jpg");
	background-size: cover;
	color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.col-sm-10 p {
	text-align: justify !important;
}

.innen{
	width:90%;
	margin:auto;
}

.container{
	background-color:rgba(0,0,0,0.6);
	border-radius:20px;
		padding-right: 0px;
		padding-bottom: 0px;
		margin-bottom: 15px;
	font-size: 15px;
}
.innen>.container{
	width:100%;
}

.container>.col-sm-2 {

}

.parent {
	width: 40%;
	display: inline-block;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-normal {
	width: 100% !important;
	height: auto !important;
}

@media screen and (max-width: 870px) {
	.parent {
		display: block;
		width: 80%;
	}
}


/*Slideshow*/

.carousel-control.left,.carousel-control.right{background-image:none;}

.carousel{
	height:150px;
}
	/*so werden Bilder in den Container gepresst*/
.carousel>.carousel-inner{
	width:100%;
	height:100%;
	border-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	opacity: 0.8;
}

.img-fluid {
		width:100%;
	}

@media screen and (max-width: 870px) {
	    #myCarousel {
	        display: none !important;
	    }
	}


/*Navigationsleiste*/
	/*collapse bei 870px*/

	.nav li:hover{
		background-color:rgb(232,232,232);
	}


@media (max-width: 870px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media screen and (max-width: 870px) {
    .navbar {
        position:fixed;
				top:0;
				width:90%;
				margin-top:auto;
				z-index:2;
    }
		.container{
			margin-top:60px;
		}
}


@media screen and (max-width: 1100px) {
    .social-media-link {
        display: none !important;
    }
}

.social-media-link {
	color:black;
	font-size:14px;
}

#social-media-logo{
	height:20px;
}


/*grid system*/
.grid-container {
	display: flex;
}

/*     SIDEBAR      */
.col-sm-2{
	float:right;
	border:none;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	padding-top: 10px;
	text-align: center;
	align-items: stretch;
}

#audio-pause-or-play {
	width: 50%;
}

.volume-button {
	width: 20%;
	display: inline;
}


#sidebar-title {
	font-size: 22px;
	margin-top: 20px;
}

.col-sm-12{
	text-align:center;
}

@media screen and (max-width: 870px) {
    .col-sm-2 {
        display: none !important;
				width:1% !important;
			}
		.col-sm-10 {
			width: 99% !important;
		}

    }
		.foot {
			bottom:0;
			width:90%;
			position:absolute;
			position:fixed;
		}

}
.col-sm-10 img{
	width:300px;
	height:300px;
	margin:5px;
}

.col-sm-10 h1 {
	margin-bottom: 20px;
}


/*                GETRAENKEKARTE                  */

/* GETRÄNKE */

.getraenke_tabelle {
	display: none;
	color: white;
	margin: auto;
	width: 50%;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 10px;
	font-size: 16px;
}

/* Buttons */

.button_drinks {
  display: block;
	border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(200,200,200,0.2);
  color: #FFFFFF;
  text-align: center;
  font-size: 32px;
  padding: 20px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
	margin-bottom: 15px;
}

@media screen and (max-width: 870px) {
	.button_drinks {
		font-size: 25px;
		padding: 15px;
		width: 70%;
		margin-bottom: 10px;
	}
	.getraenke_tabelle {
		width: 70%;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 10px;
		margin-bottom: 15px;
		font-size: 16px;
	}
	.Menge {
		display: none;
	}
}

@media screen and (max-width: 440px) {
	.button_drinks {
		font-size: 20px;
		padding: 10px;
		width: 85%;
		margin-bottom: 5px;
	}
	.getraenke_tabelle {
		width: 85%;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 5px;
		margin-bottom: 10px;
		font-size: 12px;
	}
}



.button_drinks span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_drinks span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_drinks:hover span {
  padding-right: 25px;
}

.button_drinks:hover span:after {
  opacity: 1;
  right: 0;
}

#button_shots {
	margin-top: 50px;
}

iframe{
	width:90%;
	height:120px;
	margin-top: 5px;
	margin-bottom: 15px;
	border-radius: 3px;
}


/*        MITGLIED WERDEN    */
.contact-link {
		color: rgb(150,200,255);
		font-weight: bold;
}

.contact-link:hover {
		font-weight: bolder;
}

.foot a{
	text-decoration:none;
	color:white;
}

.foot a:hover{
	text-decoration:underline;
}
.foot{
	background-color:black;
}
